<%= provide(:title, "Home") %>
<% banner = Banner.new %>

<div class="center">  
	<%= carousel_for(banner.img_urls("homeBanner/")) %>
</div>
<h1>Welcome!</h1>

<h2>
  A passion for innovation
</h2>




