<% provide(:title, 'Investment Focus') %>
<div class="center"> 
	<div class="row">
	  <div class="col-md-2  visible-md visible-lg">
	  </div>
	  <div class="col-xs-12 col-md-8 col-centered">
			<h1 id="motto"><mark class="grey">Investment </mark><mark class="blue">focus
		</div>
	  <div class="col-md-2 visible-md visible-lg">
	  </div>
	</div>
	<div class="row vcenter">
	  <div class="col-md-2  visible-md visible-lg">
	  </div>
	  <div class="col-xs-2 col-md-1  text-right">
	  	<%= image_tag("key_left.png") %>
	  </div>
	  <div class="col-xs-8 col-md-6 col-centered">
			<p class="italic">"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."</p>

		</div>
	  <div class="col-xs-2 col-md-1 text-left">
	  	<%= image_tag("key_right.png") %>
	  </div>
	  <div class="col-md-2 visible-md visible-lg">
	  </div>
	</div>
</div>

