@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

/* universal */
html {
  height: 100%;
}

body {
  padding-top: 110px; 
  height: 100%;
  width: 100%;
  margin: 0%;  
  font-family: 'Oswald', sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

/* navbar */
.navbar-default {
    background-color: #FFF;
    border-color: #FFF;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-brand {
  padding: 0px 0px;
  margin-left: 20px !important;
}

.navbar-nav li a {
  display: inline-block;
}

.navbar-toggle {
  margin-bottom: 40px;
}


/* Only on big devices, when navbar is not collapsed */
@media only screen and (min-width : 768px) {

    
  .navbar-nav li a {
    line-height: 80px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .navbar-nav li:before {
    content: " | ";
    color: blue;
  } 

  .navbar-nav li:first-child:before {
    content: none;
  }

  .navbar-nav li:last-child:before {
    content: none;
  }
}


#linkedin {
  margin-right: 20px;
  margin-left: 20px;
}

/* Carousel */
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: white;
  border: 0px;
}

.carousel-indicators .active {
  width: 10px;
  height: 10px;
  margin: 1px;
  background-color: orange;
  border: 0px;
}

/* Sticky footer styles
-------------------------------------------------- */
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Footer */

hr.hr-footer{
  width: 50%;
  margin-top: 100px;
}

#footer {
  height: 60px;
  text-align: center;
}

#footer-icon {
  margin-top: 30px;
  margin-bottom: 30px;
  
}

mark.blue {
  color: rgb(6,60,153);
  font-weight: bold;
  background: none;
}

.footer-bottom {
  line-height: 30px;
  color: white;
  background-color: rgb(6,60,153);
  margin-top: 50px;
  vertical-align: middle;
}

/* Home page styles */
#motto {
    text-transform: uppercase;
}

mark.orange {
  color: orange;
  background: none;
}

img.round-icon {
  margin-top: 40px;
  margin-bottom: 20px;
}

#home-icon {
  margin-top: 80px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

/* General grid formatting*/
.vcenter {
    display: flex;
    align-items: center;
}