@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

/* navbar */
.navbar-default {
    background-color: #FFF;
    border-color: #FFF;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-brand {
  padding: 0px 0px;
}

.navbar-nav li a {
  display: inline-block;
}

/* Only on big devices, when navbar is not collapsed */
@media only screen and (min-width : 768px) {

  .container-fluid { 
    max-width: 1000px; 
  }
  
  .navbar-nav li a {
    line-height: 80px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .navbar-nav li:before {
    content: " | ";
    color: blue;
  } 

  .navbar-nav li:first-child:before {
    content: none;
  }

  .navbar-nav li:last-child:before {
    content: none;
  }
}

#logo {
  padding-left: 50px;
}

#linkedin {
  padding-right:50px;
  padding-left: 50px;
}

/* Carousel */
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: orange;
  border: 0px;
}
