<div class="container">
  <div class="center">  
    <div id="footer">
      <hr class="hr-footer">
      <p><%= image_tag("logo_footer.png", id: "footer-icon") %></p>
      <p><mark class="blue">Contact:</mark> info@mywebsite.com</p>
      <p><div id="footer-bottom">Legal Cookie Statement | Developed by 3llideas.com</div></p>
    </div>
  </div>
</div>