<div class="container-fluid center" id="footer">
	<div class="row">
    <div class="col-xs-12  col-centered">
      <hr class="hr-footer">
      <p><%= image_tag("logo_footer.png", id: "footer-icon") %></p>
      <p><mark class="blue-bold">Contact:</mark> info@mywebsite.com</p>
    </div>
  </div>
  <div class="row footer-bottom">
    <div class="col-xs-12  col-centered nopadding">
      Legal Cookie Statement | Developed by 3llideas.com
    </div>
  </div>
</div>